<div style="padding-left: 100px">
<h1>Hazle una pregunta al Coach!</h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>